* {
    box-sizing: border-box;
}

:root {
    --primary-color: #171100;
    --secondary-color: #FFB900;
    --desc-color: #5F5B53;
    --background-color: #FFFCF4;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: Poppins, sans-serif;
}

body {
    font-size: 1.6rem;
}

/* common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    border-radius: 25px;

    background-color: var(--primary-color);
    color: #FFF;

    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.858;
    padding: 12px 16px;
}

.btn:hover {
    background-color: var(--secondary-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* sticky-header */
.sticky-header {
    position: sticky;
    z-index: 1;
    top: -22px;
    background: var(--background-color);
    padding-top: 20px;
}

.sticky-header .navbar {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.sticky-header .list {
    display: flex;
    margin-left: auto;
    margin-right: 54px;
    align-items: center;
    gap: 10px;
}

.sticky-header .item {
    position: relative;
}

.sticky-header .item:hover {
    color: var(--primary-color);
    text-shadow: 0 0 1px var(--primary-color);
}

.sticky-header .item::before {
    position: absolute;
    left: 17px;
    bottom: 9px;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: var(--primary-color);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sticky-header .item:hover::before {
    opacity: 1;
}

.sticky-header .item a {
    display: inline-block;
    padding: 8px 16px;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.sticky-header .btn {
    font-size: 1.6rem;
    min-width: 144px;
}

/* hero */
.hero {
    background-color: var(--background-color);
    padding: 38px 0 65px;
}

.hero .container {
    display: flex;
}

.hero .category {
    position: relative;
    width: 48%;
    margin-right: 230px;
}

.hero .category-card {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    border-radius: 12px;
    padding: 28px 0 28px 24px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .category-item {
    display: flex;
    align-items: center;
}

.category-item+.category-item {
    margin-top: 14px;
}

.hero .category-detail {
    margin-left: 16px;
}

.hero .category-stat {
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero .category-name {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
}

.hero .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-info {
    width: 52%;
    padding-top: 64px;
}

.hero .title {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: -1.16px;
    margin-bottom: 22px;
}

.hero .desc {
    color: var(--desc-color);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 38px;
    word-break: break-all;
}

.hero .hero-cta {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.hero .btn {
    font-size: 1.8rem;
    min-width: 180px;
    padding: 19px 16px;
    border-radius: 32px;
    margin-right: 28px;
}

.hero .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 999px;
    box-shadow: 0 0 10px rgba(118, 118, 118, 0.1);
}

.hero .play {
    display: inline-block;
    border-width: 5px 0 5px 9px;
    border-style: solid;
    border-color: transparent transparent transparent var(--secondary-color);
    transform: translateX(10%);
}

.hero .label {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    padding-left: 14px;
}

.hero .stat-title {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-bottom: 8px;
}

.hero .stat-info {
    display: inline-flex;
    align-items: flex-end;
}

.hero .stat-info+.stat-info {
    margin-left: 24px;
}

.hero .stat {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
    margin-right: 14px;
}

.hero .stat-desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    vertical-align: bottom;
}

/* courses */
.courses {
    padding: 200px 0;
}

.courses .top-row {
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}

.courses .courses-header {
    max-width: 39.1%;
}

.courses .title {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}

.courses .desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.courses .courses-btn {
    display: flex;
    gap: 18px;
    margin-left: auto;
}

.courses .navigation-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 999px;
}

.courses .navigation-btn:hover {
    color: #FFF;
    background-color: var(--secondary-color);
}

.courses .list {
    display: flex;
    gap: 30px;
}

.courses .item {
    display: flex;
    flex-direction: column;
    width: 31.6%;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.courses .item:hover {
    border: none;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .courses-img {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.courses .courses-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 16px 22px 22px;
}

.courses-info .row {
    display: flex;
    align-items: center;
}

.courses-info .link {
    width: 82%;
}

.courses-info .courses-title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    word-break: break-all;
}

.courses-info .rating {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: auto;
    color: var(--secondary-color);
}

.courses .courses-desc {
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    margin-top: 6px;
    margin-bottom: 12px;
}

.courses .bottom-row {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.courses .bottom-row .btn {
    margin-left: auto;
}

/* reviews */
.reviews {
    scroll-margin-top: 120px;
    background: #2E2100;
    padding: 96px 0;
}

.reviews .body {
    display: flex;
    align-items: flex-end;
}

.reviews .reviewer {
    width: 100%;
    margin-right: 60px;
}

.reviews .reviewer-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 999px;
    margin-bottom: 18px;
}

.reviews .reviewer-name {
    color: #F7F7F7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    margin-bottom: 4px;
}

.reviews .reviewer-major {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    margin-bottom: 28px;
}

.reviews .reviews-nav {
    width: 30px;
    height: 6px;
}

.reviews .review-content {
    position: relative;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

.reviews .img-icon {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 30px;
    height: 28px;
}

/* subscription */
.subscription {
    padding: 200px 0;
}

.subscription .top-row {
    display: flex;
    margin-bottom: 233px;
}

.subscription .image {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.subscription .img-first {
    position: relative;
    top: 34px;
    margin-right: 30px;
}

.subscription .img-second {
    margin-right: 130px;
}

.subscription-info {
    padding: 58px 0 0;
}

.subscription-info .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}

.subscription-info .desc {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 16px;
}

.subscription span {
    display: block;
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.subscription .btn {
    margin-top: 32px;
    min-width: 137px;
    font-size: 1.6rem;
}

.subscription .bottom-row {
    display: flex;
}

.bottom-row .subscription-info {
    width: 48.7%;
    margin-right: 130px;
}

.bottom-row .image {
    width: 470px;
    height: 440px;
}

/* blog */
.blog {
    background: var(--background-color);
    padding: 96px 0;
}

.blog .title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}

.blog .desc {
    width: 38.29%;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 auto 55px;
}

.blog .list {
    display: flex;
    gap: 30px;
    margin-bottom: 28px;
}

.blog .item {
    display: flex;
    width: 31.6%;
    flex-direction: column;
    border-radius: 16px;
    background-color: #fff;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog .blog-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 28px 20px;
}

.blog .time {
    position: relative;
    margin-left: 10px;
    color: var(--desc-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    margin-bottom: 12px;
}

.blog .time::before {
    position: absolute;
    top: 9px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: var(--secondary-color);
    border-radius: 999px;
}

.blog .separate {
    width: 48.5%;
    height: 1px;
    background-color: #E2DFDA;
    margin-bottom: 12px;
}

.blog .blog-title {
    margin-bottom: 12px;
}

.blog .blog-title a {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    word-break: break-all;
}

.blog .btn {
    margin-top: auto;
    align-self: flex-start;
}

.blog .blog-nav {
    display: block;
    margin: 0 auto;
}

/* footer */
.footer {
    padding: 96px 0 28px;
    background: #2E2100;
}

.footer .container {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
    margin-bottom: 28px;
}

.footer .column {
    flex: 1;
}

.footer .column:first-child {
    flex: 1.5;
}

.footer .logo {
    margin-top: 10px;
    margin-bottom: 18px;
}

.footer .desc {
    width: 68.5%;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    margin-bottom: 18px;
}

.footer .social {
    font-size: 0;
}

.footer .social .fa-brands {
    color: #fff;
    margin-right: 14px;
    font-size: 1.6rem;
}

.footer .title {
    color: #FFF;
    font-size: 1.6re;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 14px;
}

.footer .separate {
    max-width: 130px;
    height: 1px;
    background-color: #59554B;
    margin-bottom: 28px;
}

.footer .item a {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .item a:hover {
    text-shadow: 0 0 1px #fff;
    text-decoration: underline;
}

.footer .item:not(:last-child) {
    margin-bottom: 12px;
}

.footer .copyright {
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}